# Copernicus / CDS API
CDS_URL=https://cds.climate.copernicus.eu/api
CDS_TOKEN=YOUR_CDS_API_TOKEN_HERE

# Wasabi / S3
WASABI_ENDPOINT_URL=https://s3.wasabisys.com
WASABI_ACCESS_KEY=YOUR_WASABI_ACCESS_KEY
WASABI_SECRET_KEY=YOUR_WASABI_SECRET_KEY
WASABI_BUCKET_NAME=mi-bucket-proyecto

# Google Earth Engine
GEE_PROJECT_ID=proyecto-analitica-3

#Local Paths
